language: node_js
node_js:
    - "10"
before_deploy:
    - npm run pack
    - cp dist/index.json dist/sync.json
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  github_token: $GH_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
after_deploy:
  - sh scripts/trigger-travis.sh vechain app-hub-app $TRAVIS_ACCESS_TOKEN "AppHub source deployed"
  
