name:  Validate Pull Request
on:
  pull_request_target:
    paths:
      - 'apps/**'
  
permissions:
  contents: read
  pull-requests: write

jobs:
  validate-new-app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci
  
      - name: Run validation
        run: npm run validate
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
